<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="./css/aui/aui.css">
    <link rel="stylesheet" type="text/css" href="./css/iconfont/iconfont.css">
    <style type="text/css">
    /* 默认情况下不显示 */
    .normal{
        display: none;
    }
    /* 点击后显示 */
    .active{
        display: block;
    }
    </style>
</head>

<body class="wrap">
    <div id="app">
        <header class="aui-bar aui-bar-nav normal" v-for="(vo,index) in list" v-bind:class="{'active': active_index == index }">
            {{ vo.title }}
            <!-- <a class="aui-pull-left aui-btn aui-btn-outlined">
                <span class="aui-iconfont aui-icon-menu"></span>
            </a>
            <div class="aui-title">header</div>
            <a class="aui-pull-right aui-btn aui-btn-outlined">
                <span class="aui-iconfont aui-icon-search"></span>
            </a> -->
        </header>
        <footer class="aui-bar aui-bar-tab" id="footer">
            <div class="aui-bar-tab-item "  v-for="(vo,index) in list" v-on:click="switchFrame(index)" v-bind:class="{'aui-active': active_index == index }" tapmode>
                <i class="iconfont icon-xingcheng2" v-if="index == 0"></i>
                <i class="iconfont icon-faxian" v-if="index == 1"></i>
                <i class="iconfont icon-home" v-if="index == 2"></i>
                <i class="iconfont icon-icon3" v-if="index == 3"></i>
                <i class="iconfont icon-wode"   v-if="index == 4"></i>
                <!-- <div class="aui-bar-tab-label">{{vo.title}}</div> -->
            </div>
        </footer>
    </div>


</body>
<script type="text/javascript" src="./script/api.js"></script>
<script type="text/javascript" src="./script/vue.js"></script>
<script type="text/javascript">
    apiready = function () {
        
        var headerlist = $api.domAll('header');
        for(var i =0; i<headerlist.length; i++){
            $api.fixStatusBar( headerlist[i] );//适配安卓设备
        }

        //顶部状态栏       
        api.setStatusBarStyle({
            style: 'light'
        });
        vm.init();
    };


    var vm = new Vue({
        el: '#app',  //作用域
        data: {      //数据
            active_index : 0,   //当前可见frame的页面，默认为0
            list:[
                {title : '行程'}, 
                {title : '发现'}, 
                {title : '首页'}, 
                {title : '收藏'}, 
                {title : '我的'}, 
            ]
        },
        methods: {  //初始化的方法
            init: function (){

                //初始化窗口高度
                var headerH = $api.dom('header').offsetHeight;
                var footerH = $api.dom('footer').offsetHeight;
                var frameH  = api.winHeight - headerH - footerH;


                // 打开frmae组
                api.openFrameGroup({
                    name: 'NewsGroup',
                    // scrollEnabled: true,
                    rect: {
                        x:0,
                        y:headerH,
                        w:'auto',
                        h:frameH
                    },
                    index: 2,   //初始默认打开的页面
                    frames: [{
                        name: 'journey', 
                        url: './html/journey.html',
                        bgColor:'#f5f5f5',
                        bounces: false //禁止上下滑动
                    },{
                        name: 'discovery', 
                        url: './html/discovery.html',
                        bgColor:'#f5f5f5',
                        bounces: false
                    },{
                        name: 'home', 
                        url: './html/home.html',
                        bgColor:'#f5f5f5',
                        bounces: false
                    },{
                        name: 'collect', 
                        url: './html/collect.html',
                        bgColor:'#f5f5f5',
                        bounces: false
                    },{
                        name: 'my', 
                        url: './html/my.html',
                        bgColor:'#f5f5f5',
                        bounces: false
                    }]
                }, function(ret, err){
                    // var name  = ret.name;
                    // var index = ret.index;
                });
            },
            switchFrame:function(index){
                if(vm.active_index == index){
                    return false;
                }
                // 切换frame
                vm.active_index = index;
                api.setFrameGroupIndex({
                    name: 'NewsGroup',
                    index: index
                });
            },
        }
    });
    
</script>

</html>